<ion-content>
  <ion-card>
    <img src="./assets/icon/favicon.png" />
    <ion-item>
      <ion-label position="floating">What do we call you?</ion-label>
      <ion-input [(ngModel)]="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Enter key here</ion-label>
      <ion-input [(ngModel)]="key" type="password"></ion-input>
    </ion-item>
    <ion-card-content>
      Click the button below once you're ready to start typing.
    </ion-card-content>
    <ion-button expand="full" fill="clear" (click)="validateKey()">Start the countdown!</ion-button>
  </ion-card>
</ion-content>
