<ion-header>
  <ion-toolbar>
    <ion-title>
      Typing Competition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="float: right; text-align: right">
        <div>{{ mins }}:{{ secs }}</div>
        <div>{{ wpm }} wpm</div>
      </ion-card-title>
      <ion-card-subtitle style="float: left">
        <div style="color: green">Correct: {{ correctWords }}</div>
        <div style="color: red">Incorrect: {{ incorrectWords }}</div>
        <div [ngStyle]="{'opacity': correctWords + incorrectWords > 0 ? 1 : 0}">Accuracy: {{ correctWords / (correctWords + incorrectWords) * 100 | number:'1.2-2' }}%</div>
      </ion-card-subtitle>
      <div style="clear:both"></div>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let word of words.slice(floor((correctWords + incorrectWords) / shownWords) * shownWords, floor((correctWords + incorrectWords) / shownWords) * shownWords + shownWords); index as wi" class="word">
        <span *ngFor="let j of [].constructor(word.length); index as i" [id]="wi + '-' + i">{{ word.charAt(i) }}</span>
      </div>
    </ion-card-content>
    <ion-item>
      <ion-label position="floating">Start typing here</ion-label>
      <ion-textarea [(ngModel)]="input" (ngModelChange)="evaluate()" [disabled]="time <= 0"></ion-textarea>
    </ion-item>
  </ion-card>
</ion-content>
